@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

html,
body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f5f9;
    color: #191e29;
    font-size: 30px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
